* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  margin: 0;
}
/* nav menu */
.main-nav {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(0, 200, 50, 0.9);
  display: none;
  width: 50%;
  transform: scaleX(0);
  transform-origin: right;
  height: 60%;
}
.menu-btn,
.show-nav {
  position: fixed;
  right: 0;
}
.show-nav {
  z-index: 2;
  float: right;
  display: block;
  animation: slide-menu 0.4s ease-in forwards;
}
.hide-nav {
  animation: slide-out 0.4s ease-out forwards;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item {
  list-style-type: none;
  /* padding: 1.5rem 0; */
  margin: 1rem 0;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
}
.nav-menu li {
  text-align: center;
  width: 80%;
  border-bottom: solid lightgray 2px;
}
.nav-item {
  padding-bottom: 1rem;
}
.menu-btn,
.close-btn {
  margin: 1rem 1rem 0 0;
  cursor: pointer;
}
.close-btn {
  margin-left: auto;
}
.menu-btn:hover {
  cursor: pointer;
}
.nav-mobile-wrapper {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: green;
  margin: 2rem 0 0 2rem;
}
/* slider */
.img-wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.img-wrapper img {
  width: 100vw;
  height: 100%;
}
/* end of slider */
/* pilot section */
#pilot {
  margin-top: 4rem;
  text-align: center;
  padding-bottom: 3rem;
}
#pilot img {
  width: 100%;
  height: auto;
}
#pilot h2 {
  font-size: 1rem;
  margin-bottom: 3rem;
}
canvas {
  width: 100%;
  height: auto;
}
/* viewer */
.bar {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}
.btn:hover {
  opacity: 0.9;
}
.page-info {
  margin: auto;
  order: -1;
}
#prev-page {
  order: -2;
}
.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
/* end of viewer */

/* portrait */
#portrait {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: lightgray;
}
#portrait img {
  width: 50%;
  float: left;
  border-radius: 50%;
  padding-left: 1rem;
  margin-right: 1rem;
}
#portrait p {
  color: green;
  font-weight: bold;
}
#portrait h2 {
  color: orange;
}
#portrait span {
  color: green;
}
.portrait-text {
  line-height: 1.5;
  text-align: center;
  padding-right: 1rem;
}
#portrait a {
  display: inline-block;
  color: black;
}
/* end of portrait */
/* caregiver voice */
#caregiver-voice {
  text-align: center;
  padding: 3rem 1rem 3rem 1rem;
}
#caregiver-voice h2 {
  font-size: 1.5rem;
  color: orange;
}
#caregiver-voice p {
  line-height: 1.5;
}
#caregiver-voice a {
  color: orange;
}
#caregiver-voice a img {
  padding-bottom: 2rem;
  display: block;
  width: 100%;
}

/* animations */
@keyframes slide-menu {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes slide-out {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
